@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-background: #f3f4f6;
  /* Light Grey for MS Whiteboard feel */
  --color-surface: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text-main antialiased;
  }
}

@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 24px 24px;
  }
}